<header class="header">
  <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="container navbar navbar-expand-md px-0">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand my-2" routerLink="/home" *ngIf="lang ; else elseBlock">
        <img  src="assets/images/DSpace_logo_ar.png" [attr.alt]="'menu.header.image.logo' | translate" />
      </a>
      <ng-template #elseBlock>
        <a class="navbar-brand my-2" routerLink="/home" >
          <img src="assets/images/dspace-logo.svg" [attr.alt]="'menu.header.image.logo' | translate" />
        </a>
      </ng-template>

    </div>
    <div class="d-flex flex-grow-1 ml-auto justify-content-end align-items-center">
      <ds-search-navbar class="navbar-collapsed"></ds-search-navbar>
    <!-- <ds-lang-switch class="navbar-collapsed"></ds-lang-switch> -->
    <ds-help-links class="navbar-collapsed"></ds-help-links>
    <ds-context-help-toggle></ds-context-help-toggle>
    <ds-auth-nav-menu class="navbar-collapsed"></ds-auth-nav-menu>
    <ds-impersonate-navbar class="navbar-collapsed"></ds-impersonate-navbar>
    <!-- kware start edit -- fix bilingual lang-switcher -->
    <ds-lang-switch class="navbar-collapsed"></ds-lang-switch>
    <!-- kware end edit -- fix bilingual lang-switcher -->
      <div class="pl-2">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
                aria-controls="collapsingNav"
                aria-expanded="false" [attr.aria-label]="'nav.toggle' | translate">
          <span class="navbar-toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </nav>
  <ds-themed-navbar></ds-themed-navbar>

</header>
