<div class="background-image">
  <div class="container" >

    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <!-- kware edit
        translate home-news screen -->
        <div>
          <h1 class="display-3">{{ "home.news.dspace7" | translate }}</h1>
          <p class="lead">{{ "home.news.dspace.intro.header" | translate }}</p>
        </div>
      </div>
      <ul>

        <li>
          {{ "home.news.dspace.intro.content1" | translate }}
        </li>
        <li>
          {{ "home.news.dspace.intro.content2" | translate }}
        </li>
        <li>
          {{ "home.news.dspace.intro.content3" | translate }}
        </li>
      </ul>
      <p>
        {{ "home.news.dspace.joinUs.header" | translate }}
        <a
          href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning"
          target="_blank"
          >{{ "home.news.dspace.joinUs.content" | translate }}</a
        >.
      </p>
      <!-- <p>
        {{ "home.news.dspace.testUser.header" | translate }}
      </p> -->
      <!-- <ul>
        <li>{{ "home.news.dspace.demoSite.userName" | translate }} = dspace@kwareict.com</li>
        <li>{{ "home.news.dspace.demoSite.userPass" | translate }} = kware-dspace7-demo</li>
      </ul> -->
    </div>
  </div>
  <small class="credits"
    >Photo by
    <a href="https://www.pexels.com/@inspiredimages">@kwaretech</a></small
  >
  <!-- end kware edit -->
</div>
